p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: 'Paytone One', sans-serif;
  font-weight: bold;
  font-style: normal;
}

h2{
  font-family: 'Paytone One', sans-serif;
  font-weight: bold;
  font-style: normal;
}

h3{
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}

h4{
  font-family: 'Macondo Swash Caps', cursive;
  font-weight: bold;
  font-style: normal;
}
